# Archivos temporales de Autodesk Maya
*.ma.swatches
*.mb.swatches
mayaRenderLog.txt
workspace.mel

# Archivos de compilación y binarios (OpenGL o C++)
*.o
*.obj
*.exe

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Otros archivos temporales o innecesarios
*.tmp
*.bak
